<!doctype html>
<html>
<head>
   <%- include("../fragments/head.ejs") %>
</head>
<body>
<header>
    <%- include("../fragments/header.ejs") %>
</header>


<main>
    <h3>404</h3><br/><br/><br/>
    <h3>Pagina cautata nu exista!</h3>
</main>
<footer>
</footer>
</body>
</html>