<!DOCTYPE html>
<html lang="en">
	<head>
        <%- include('../fragments/head') %>
	</head>
	<body>
        <header>
            <%- include('../fragments/header') %>
        </header>
        <main>
                <h1>Dynamic Gallery</h1>
                <div id = "galerie1" class="galerie">
                    <div>
                    <figure>
                        <img src="/Images/static_gallery/bigar_watterfall.jpg"/>
                        <figcaption>Bigar Watterfall</figcaption>
                    </figure>
                    <figure>
                        <img src="/Images/static_gallery/maramures_autumn2.jpg"/>
                        <figcaption>Maramures County</figcaption>
                    </figure>
                    <figure>
                        <img src="/Images/static_gallery/peles_castle2.jpg"/>
                        <figcaption>Peles Castle</figcaption>
                    </figure>
                    <figure>
                        <img src="/Images/static_gallery/timisoara_banat2.jpg"/>
                        <figcaption>Timisoara</figcaption>
                    </figure>
                    <figure>
                        <img src="/Images/static_gallery/Sky_Tower_bucharest2.jpg"/>
                        <figcaption>Bucharest Sky Tower</figcaption>
                    </figure>
                    <figure>
                        <img src="/Images/static_gallery/Iasi-Palace-of-Culture2.jpg"/>
                        <figcaption>Palace of Culture</figcaption>
                    </figure>
                    <figure>
                        <img src="/Images/static_gallery/costinesti-coastline2.jpg"/>
                        <figcaption>Costinesti beach</figcaption>
                    </figure>
                    <figure>
                        <img src="/Images/static_gallery/bucovina_mountains2.jpg"/>
                        <figcaption>Bucovina Mountains</figcaption>
                    </figure>
                    <figure>
                        <img src="/Images/static_gallery/bran-castle-brasov-transylvania2.jpg"/>
                        <figcaption>Bran Castle</figcaption>
                    </figure>
                    <figure>
                        <img src="/Images/static_gallery/Sighisoara-Romania2.jpg"/>
                        <figcaption>Sighisoara</figcaption>
                    </figure>
                    </div>
                </div>
            </main>
    
            <footer>
                <%- include('../fragments/footer') %>
            </footer>
    </body>
</html>