<!DOCTYPE html>
<html lang="en">
	<head>
        <%- include('../fragments/head') %>
        <style>
            main{
                margin: 2.4rem;
                display: block;
            }
            header{
                margin: 0px;
            }
        </style>
    </head>
	<body>
        <header>
           <%- include("../fragments/header.ejs") %>
        </header>
        <main>
            <h1>Static Gallery</h1>
            <section id ="galerie">
               
            <div id = "gr">
                    <figure>
                        <img src="/Images/static_gallery/bigar_watterfall.jpg" alt="Bigar Watterfall" title="Bigar Watterfall"/>
                        <figcaption>Bigar Watterfall</figcaption>
                    </figure>
                    <figure>
                        <img src="/Images/static_gallery/costinesti-coastline2.jpg" alt="Costinesti Touristic Resort" title="Costinesti Touristic Resort Beach"/>
                        <figcaption>Costinesti Resort</figcaption>
                    </figure>
            
                    <figure>
                        <img src="/Images/static_gallery/bran-castle-brasov-transylvania2.jpg" alt="Bran Castle in Transilvania" title="Brav Castle in Transilvania"/>
                        <figcaption>Bran Castle</figcaption>
                    </figure>
                    <figure>
                        <img src="/Images/static_gallery/bucovina_mountains2.jpg" alt="Bucovina Mountains" title="Bucovina Mountains"/>
                        <figcaption>Bucovina Mountains</figcaption>
                    </figure>
                    <figure>
                        <img src="/Images/static_gallery/Iasi-Palace-of-Culture2.jpg" alt="Bucovina Mountains" title="Bucovina Mountains"/>
                        <figcaption>Bucovina Mountains</figcaption>
                    </figure>
                    <figure>
                        <img src="/Images/static_gallery/maramures_autumn2.jpg" alt="Bucovina Mountains" title="Bucovina Mountains"/>
                        <figcaption>Bucovina Mountains</figcaption>
                    </figure>
                    <figure>
                        <img src="/Images/static_gallery/Sighisoara-Romania2.jpg" alt="Bucovina Mountains" title="Bucovina Mountains"/>
                        <figcaption>Bucovina Mountains</figcaption>
                    </figure>
                    <figure>
                        <img src="/Images/static_gallery/bran-castle-brasov-transylvania2.jpg" alt="Bucovina Mountains" title="Bucovina Mountains"/>
                        <figcaption>Bucovina Mountains</figcaption>
                    </figure>
                    <figure>
                        <img src="/Images/static_gallery/timisoara_banat2.jpg" alt="Bucovina Mountains" title="Bucovina Mountains"/>
                        <figcaption>Bucovina Mountains</figcaption>
                    </figure>
                
                    <figure>
                        <img src="/Images/static_gallery/Sky_Tower_bucharest2.jpg" alt="Bucovina Mountains" title="Bucovina Mountains"/>
                        <figcaption>Bucovina Mountains</figcaption>
                    </figure>
                 </div>
            </section>

            
            <h1>Dynamic Gallery</h1>
            <div id = "galerie1" class="galerie">
                
                <div>
                <figure>
                    <img src="/Images/static_gallery/bigar_watterfall.jpg"/>
                    <figcaption>Bigar Watterfall</figcaption>
                </figure>
                <figure>
                    <img src="/Images/static_gallery/maramures_autumn2.jpg"/>
                    <figcaption>Maramures County</figcaption>
                </figure>
                <figure>
                    <img src="/Images/static_gallery/peles_castle2.jpg"/>
                    <figcaption>Peles Castle</figcaption>
                </figure>
                <figure>
                    <img src="/Images/static_gallery/timisoara_banat2.jpg"/>
                    <figcaption>Timisoara</figcaption>
                </figure>
                <figure>
                    <img src="/Images/static_gallery/Sky_Tower_bucharest2.jpg"/>
                    <figcaption>Bucharest Sky Tower</figcaption>
                </figure>
                <figure>
                    <img src="/Images/static_gallery/Iasi-Palace-of-Culture2.jpg"/>
                    <figcaption>Palace of Culture</figcaption>
                </figure>
                <figure>
                    <img src="/Images/static_gallery/costinesti-coastline2.jpg"/>
                    <figcaption>Costinesti beach</figcaption>
                </figure>
                <figure>
                    <img src="/Images/static_gallery/bucovina_mountains2.jpg"/>
                    <figcaption>Bucovina Mountains</figcaption>
                </figure>
                <figure>
                    <img src="/Images/static_gallery/bran-castle-brasov-transylvania2.jpg"/>
                    <figcaption>Bran Castle</figcaption>
                </figure>
                <figure>
                    <img src="/Images/static_gallery/Sighisoara-Romania2.jpg"/>
                    <figcaption>Sighisoara</figcaption>
                </figure>
                </div>
            </div>

        </main>
   
        <footer>
            <%- include('../fragments/footer') %>
        </footer>
    </body>
</html>
