<a href="#" id="link-top">
    <div id="sageata">
        <i class="fas fa-arrow-up"></i>
    </div>
</a>
<button id = "light_dark">
    Light
    <span class="fas fa-sun"></span>
</button>
<p class="footer-details"><small>&copy; Claudia Ursu 2020</small></p>
<div id="banner">
    <p>DISCLAIMER: ACESTA ESTE UN PROIECT SCOLAR</p>
</div>