<title>Beautiful Romania</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="Romania, tourism, tourist, attraction, guest house, hotel, travel, visit, Transylvania, Banat, Crisana, Bucovina, Oltenia, Maramures, Moldova, Muntenia, Dobrogea">
<meta name ="description" content = "Beautiful Romania and touristc destinations">
<meta name="author" content = "Ursu Claudia-Alexandra">
<link rel="shortcut icon" type="image/x-icon" href="/Images/favicon.ico"/> 
<script src = "/Javascript/script.js"></script>
<link href="/CSS/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/CSS/menu.css" />
<link href="/CSS/display800.css" rel="stylesheet" type="text/css" media="screen and (max-width:800px)"/>
<link href="/CSS/display400.css" rel="stylesheet" type="text/css" media="screen and (max-width:450px)"/>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css" />
<link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
